{% extends 'template.html' %}


{% block service %}
<div class="container mt-5">
    <h1 class="mb-4">DoveCoin: Learning about Blockchain in a Fun Way</h1>
    <p class="lead">Welcome to our blog entry about DoveCoin! This educational project aims to teach people how blockchain technology works and how exciting it can be.</p>

    <h2>What is DoveCoin?</h2>
    <p>DoveCoin is not just a cryptocurrency; it's an educational tool designed for everyone, from beginners to experts, to understand the workings of blockchain. Through this project, we want to showcase how impressive this technology is and how it can transform our world.</p>

    <h2>Key Features</h2>
    <ul>
        <li><strong>Interactive Learning:</strong> With DoveCoin, you can participate in hands-on activities that will teach you about cryptocurrencies and blockchain.</li>
        <li><strong>Simple Transactions:</strong> Learn to make secure and fast transactions while familiarizing yourself with the process.</li>
        <li><strong>Inclusive Community:</strong> Join other enthusiasts and share knowledge while exploring the world of cryptocurrencies.</li>
    </ul>

    <h2>Explore Our Code</h2>
    <p>The entire development of DoveCoin is available on our GitHub repository. Here you can find the code, documentation, and resources to deepen your understanding of blockchain. Check it out here:</p>
    <a href="https://github.com/PPerezdeMadrid/dovecoin" class="btn btn-primary">View on GitHub</a>

    <h2>Contact Me</h2>
    <p>If you have any questions or inquiries about DoveCoin or blockchain technology, feel free to reach out to me. I'm here to assist you on this exciting educational journey.</p>
</div>
{% endblock %}


{% block how_it_works %}

{% endblock %}