<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Data</title>
</head>
<body>

<div class="container">
    <h2>Client Data</h2>
    <table>
        <tr>
            <td class="key">Name:</td>
            <td>{{ data.name }}</td>
        </tr>
        <tr>
            <td class="key">Email:</td>
            <td>{{ data.email }}</td>
        </tr>
        <tr>
            <td class="key">Node:</td>
            <td>{{ data.node }}</td>
        </tr>
    </table>
</div>

</body>
</html>
