# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
ENV/
env/
*.env

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# Python testing
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
.vscode/
*.swp

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# SQLite database
*.sqlite3

# Miscellaneous
*.bak
*.tmp
